/* slider.css */
.slick-list {
  margin: 0 -7px; /* Adjusts the margin on the slick list */
}

.slick-slide > div {
  padding: 0 20px; /* Adjusts the padding for each slide */
}

@media only screen and (max-width: 728px) {
  .slick-slide > div {
    padding: 0 13px; /* Adjusts the padding for each slide */
  }
}
